<header>
    <form action="/add" method="POST">
        <div class="flex-wrap">
            <p>Leave your message below</p>
            <input type="text" class="name-box" placeholder="Name" maxlength="11" name="name" autocomplete="off">
            <div class="abso">
                <textarea class="m-box" maxlength="220" name="message"></textarea>
                <div class="warning">name and message are both required</div>
            </div>
            <div class="c-box">
                <div class="search">Check Message Box</div>
                <div class="confirm"><button type="submit">Confirm</button></div>
            </div>
        </div>
    </form>
</header>